@model CoursesViewModel
@foreach (var course in Model.Course)
{
	<div class="course-item">
		<div class="image-container">
			<img src="~/images/courses/fullstack-web-developer.svg" />
			<button class="btn-sell" type="submit"><i class=" fa-regular fa-bookmark"></i></button>
			<div class="badge">Best Seller</div>
		</div>

		<div class="info">
			<h4><a class="menu-link" href="@Url.Action("SingleCourse", "Courses", new { id = course.Id })">@course.Name</a></h4>
			<p>By @course.Author</p>
			<div class="price">
				<p>$@course.Price</p>
			</div>

			<hr />
			<div class="duration-rating">
				<div class="duration"><i class="fa-regular fa-clock"></i> 220 hours</div>
				<div class="rating">
					<i class="fa-sharp fa-light fa-thumbs-up"></i>
					<p>94%</p>
					<p>(4.2K)</p>
				</div>
			</div>
		</div>
	</div>
	
}
