<section id="overview">
	<partial name="~/Views/Shared/Sections/_Showcase.cshtml" />
</section>
<section id="features">
	<partial name="~/Views/Shared/Sections/_Features.cshtml" />
</section>
<partial name="~/Views/Shared/Sections/_Switch.cshtml" />
<partial name="~/Views/Shared/Sections/_TaskMaster.cshtml" />
<partial name="~/Views/Shared/Sections/_DownloadApp.cshtml" />
<partial name="~/Views/Shared/Sections/_Integration.cshtml" />
<partial name="~/Views/Shared/Sections/_SubscriptionSection.cshtml" />

