@model AccountDetailViewModel

@{
	ViewData["Title"] = $"{Model.ProfileInfo.FirstName} {Model.ProfileInfo.LastName}'s profile";
}
<div class="container">
	<section id="saved-courses">
	
		<partial name="_AsideProfile.cshtml" />
		
		<div class="details">
			<partial name="~/Views/Shared/Sections/_StatusMessage.cshtml" />
			<div class="title-bar">
				<h2>Saved items</h2>
				<button class="btn-gray" asp-controller="Courses" asp-action="Delete"><i class="fa-sharp fa-regular fa-trash"></i> Delete all</button>
			</div>

			<section class="content-contaier">
				<partial name="~/Views/Shared/Sections/_CoursePartial.cshtml" for="@Model.SavedCourses" />
			</section>
		</div>
		
	
	</section>
</div>